{% extends 'layout.html' %}
{% block content %}
    <div class="">
        {% for item in items %}
            <div class="card mb-4 m-4">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-100">
                            <div class="d-flex">
                                <img src="{{item.product.thumbnail.url}}" class="w-25"/>
                                <div>
                                    <h3>{{item.product.name}}</h3>
                                    <p>{{item.product.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <a href="/remove_from_cart/{{item.product.sku}}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}