{% extends 'layout.html' %}
{% block content %}
    <div class="d-flex">
        <div class="w-50">
            <img src="{{producto.image.url}}" style="width: 100%;" />
        </div>
        <div class="w-100 d-flex flex-column">
            <h1>{{producto.name}}</h1>
            <p>{{producto.description}}</p>
            <a href="/add_to_cart/{{producto.sku}}" class="btn btn-primary"> Añadir a carrito</a>
        </div>
    </div>
    <div class="d-flex mt-4 pt-4">
        <h4>Ver también:</h4>
        <div class="d-flex flex-wrap row-cols-4">
            {% for extra in extras %}
                <div class="col">
                    <div class="card">
                        <a><img src="{{extra.thumbnail.url}}" style="width: 100%"/></a>
                        <div class="card-body">
                            <h3>{{extra.name}}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}